*,
*::before,
*::after {
	box-sizing: border-box;
}

.flex {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.--just-space {
	justify-content: space-between;
}

.--just-center {
	justify-content: center;
}

.--just-end {
	justify-content: flex-end;
}

.--align-str {
	align-items: stretch;
}

.--align-center {
	align-items: center;
}

.--align-end {
	align-items: flex-end;
}

.--dir-col {
	flex-direction: column;
}

html {
	font-size: 16px;
}

html,
body {
	min-height: 100%;
	
}

body {
	color: #000;
	
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

a {
	text-decoration: none;
}

ul,li {
	list-style: none;
}

.full__container {
	width: 1448px;
	margin: 0 auto;
	border: 4px solid #000;
	overflow: hidden;
}

.--container-color-black {
	background-color: #000;
} 

.--container-color-gray {
	background: #D7D7D7;
}

.--container-border {
	border: 4px solid #000;
}

.--bg-color-lightgreen {
	background: #DBFE01;
}

.--link-style {
	border: 2px solid #000;
  background: #e45201;
  box-shadow: 0px 2px 2px 0px #000;
  color: #030303;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 12px 24px;
  display: block;
  margin-top: 50px;

  &:hover {
    background: #fff;
    transition: ease-in-out 0.2s
  }

  &:active {
    border: 2px solid #E45201;
    color: #E45201;
  }
}