<header class="header ">
    <div class="full__container flex --container-color-black ">
        <a href="#" class="logo"><img src="/img/logo.svg" alt="Aske Online" class="logo__image"></a>
        <div class="header__wrapper">
            <nav class="menu">
                <ul class="menu__list flex --just space">
                    <li class="menu__list-item">
                        <a href="#" class="menu__list-link">ГЛАВНАЯ</a>
                    </li>
                    <li class="menu__list-item">
                        <a href="#" class="menu__list-link">артисты</a>
                    </li>
                    <li class="menu__list-item">
                        <a href="#" class="menu__list-link">Новости</a>
                    </li>
                    <li class="menu__list-item">
                        <a href="#" class="menu__list-link">События</a>
                    </li>
                    <li class="menu__list-item">
                        <a href="#" class="menu__list-link">Личный кабинет</a>
                    </li>
                </ul>
            </nav>
            <div class="header__about">
                <img src="img/friends.jpg" alt="Друзья музыканты" class="header__about-image">
                <div class="header__about-wrapper">
                    <h2 class="header__about-title">
                        "Aske.online" — здесь улица становится Вашим театром! 
                    </h2>
                    <p class="header__about-text">
                        Здесь Вы — режиссер своей прогулки по городу: поддерживайте артистов, смотрите загруженные фото и видео прошедших мероприятий. 
                    </p>
                    <p class="header__about-text">
                        Если Вы артист — публикуйте даты выступлений, привлекайте новых зрителей. Сделайте улицы сценой ваших воспоминаний — в "Aske.online" у каждого есть своя роль!
                    </p>
                </div>
                <div class="header__about-background"></div>
            </div>
        </div>
        <h1 class="header__title">
            <span class="header__title-vertical">ASKE</span>
            <span class="header__title-horizontal">OnLINE</span>
        </h1>
    </div>
</header>
